.navbarra{
    background-image: linear-gradient(to right, rgba(130, 118, 218, 1), rgba(105, 88, 222, 1));;
}
.nav__link{
    color: white;
}
.nav__logo{
    color: white;
    font-size: 2rem;
}

.link{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 0px .5rem;
    
}
li{
    list-style: none;
}
ul{
    margin: 0;
}

.me-auto{
    display: flex;
    justify-content: space-evenly;
}
